# Домашнее задание

In [1]:
import pandas as pd

**Задание 1**<br>
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.<br> Определите какому фильму было выставлено больше всего оценок 5.0.

In [63]:
movies = pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')
ratings = ratings[ ratings.rating == 5.0]

any_table = pd.merge(movies, ratings, how='inner', on = ('movieId'))

In [64]:
any_table2 = any_table.groupby(['title'])['movieId'].count().idxmax()
any_table2

'Shawshank Redemption, The (1994)'

**Задание 2**<br>
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [107]:
data_power = pd.read_csv('power.csv')

#по 2010 включительно?

filtered_countries = data_power[ 
    ((data_power['country']=='Latvia') | (data_power['country']=='Litva') | (data_power['country']=='Estonia')) 
    & ((data_power['category']==12) | (data_power['category']==4) | (data_power['category']==21)) 
    & ((data_power['year'] > 2005)& (data_power['year'] < 2010) )
    & (data_power['quantity'] > 0)]

filtered_countries['quantity'].sum()

78044.0

In [81]:
data_power[ data_power['country'].str.contains('ston', case=False) ]['country'].unique()

array(['Estonia'], dtype=object)

**Задание 3**<br>
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.<br>
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [23]:
df = pd.read_html('https://fortrader.org/quotes')
df[2]

                          Type      Last      Chg.   Chg.%  Time
0      Серебро Цена на серебро    17.606   -0.0470 -0.2660   NaN
1    Палладий Цена на Палладий  2333.900  105.3500  4.7300   NaN
2  Золото Цена золота на бирже  1553.690  -22.9200 -1.4500   NaN
3      Платина Цены на платину   967.000   -2.4000 -0.2000   NaN
4      Медь Цена меди на бирже     2.543    0.0375  1.4967   NaN